<template>
<v-container class="container-chat">
<v-row>
<v-col cols="12">
  <v-card
    max-width="1200px"
    class="mx-auto d-flex flex-grow-1"
    style="margin: 0 auto"
  >
    <v-system-bar
      color="pink darken-2"
      dark
    >
      <v-spacer></v-spacer>
      <v-icon>mdi-close</v-icon>
    </v-system-bar>

    <v-app-bar
      dark
      class="red"
    >
      <v-btn
      icon
      @click="drawer"><v-app-bar-nav-icon></v-app-bar-nav-icon></v-btn>

      <v-toolbar-title>Dimas Chat</v-toolbar-title>
    </v-app-bar>

    <v-container>
      <v-row dense class="message-list">
        <v-col cols="12">
          <v-card
            color="#385F73"
            dark
          >
            <v-card-title >Weclome to chat
            {{this.$store.state.userName}}</v-card-title>
            <v-card-subtitle>Приятного общения</v-card-subtitle>
          </v-card>
        <v-container
        v-for="(item, index) in this.$store.state.messageList" :key="index"
        >
        <v-message
        :name="item.name"
        :message="item.message"
        v-if="item.status === 'message'"/>

        <v-leave
        :name="item.name"
        v-if="item.status === 'leave'"/>

        <v-join
        :name="item.name"
        v-if="item.status === 'join'"/>

        </v-container>
      </v-col>
      </v-row>

      <v-col cols="12">
          <v-card>
            <v-card-actions
            class="message-form">
            <v-textarea
              counter
              label="MESSAGE"
              no-resize
              v-model="message"
            >
            </v-textarea>
                <v-btn @click="sendMessage" class="ma-2" outlined large fab color="indigo">
                  <v-icon >mdi-message-plus</v-icon>
                </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

    </v-container>
  </v-card>
</v-col>
</v-row>
 <v-navigation-drawer
      class="deep purple"
      v-model="drawStat"
      absolute
      temporary
    >
      <v-list-item>
        <v-list-item-avatar>

        </v-list-item-avatar>

        <v-list-item-content
        >
          <v-list-item-title>User List</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>

        <v-list-item
          link
          v-for="(item, index) in this.$store.state.userNameList"
          :key="index"
        >
          <v-list-item-content>
            <v-list-item-title>{{item}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block @click="logout">Logout</v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
    {{snackText}}
    </v-snackbar>
</v-container>
</template>

<script>
import vMessage from '@/components/vMessage.vue';
import vLeave from '@/components/vLeave.vue';
import vJoin from '@/components/vJoin.vue';

export default {
  name: 'v-chat',
  components: {
    vMessage,
    vLeave,
    vJoin,
  },
  data() {
    return {
      message: '',
      drawStat: false,
      snackbar: false,
      snackText: '',
      timeout: 2000,
    };
  },
  methods: {
    sendMessage() {
      if (this.message && /\S/.test(this.message)) {
        this.$store.state.socket.send(JSON.stringify({ type: 'sendMessage', name: this.$store.state.userName, message: this.message }));
        this.message = '';
      } else {
        this.snackText = 'Пустое сообщение';
        this.snackbar = true;
      }
    },
    drawer() {
      this.drawStat = !this.drawStat;
    },
    logout() {
      this.$store.state.socket.send(JSON.stringify({ type: 'closeConnection', name: this.$store.state.userName }));
      this.$router.push({ path: '/' });
    },
  },
  created() {
    if (!this.$store.state.userName) {
      this.$router.push({ path: '/' });
    }

    window.onbeforeunload = () => {
      if (this.$store.state.userName) {
        this.$store.state.socket.send(JSON.stringify({ type: 'closeConnection', name: this.$store.state.userName }));
      }
      this.$store.state.socket.close();
    };

    this.$store.state.socket.onmessage = (event) => {
      const data = JSON.parse(event.data);

      switch (data.type) {
        case 'sendUserList':
        {
          this.$store.dispatch('setUserNameList', data.list);
          break;
        }
        case 'sendMessageList':
        {
          this.$store.dispatch('pushMessage', data);
          break;
        }
        default:
        {
          break;
        }
      }
    };
  },
};
</script>

<style lang='scss' scoped>
.main
{
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
}

.chat
{
  width: 80%;
  height: 100%;
}
.user-list
{
  width: 20%;
  height: 100%;
}

.container-chat
{
  max-height: 100vh;
  height: 100%;
}

.message-form
{
  max-width: 90%;
  margin: 0 auto;
}

.message-list
{
    min-height: 55vh;
    height: 100%;
    max-height: 55vh;
    overflow: hidden;
    overflow-y: auto;
}

div.message-list::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

div.message-list::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}

div.message-list::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}
</style>


<!--
        <v-row dense
        :class="[{'justify-end': $store.state.userName !== item.name}]"
        v-if="!item.status"
        >
        <v-col
          cols="9"
          sm="6"
        >
          <v-card
            dark
          >
                <v-card-title
                  class="headline"
                >{{item.name}}</v-card-title>

                <v-card-subtitle>{{item.message}}</v-card-subtitle>
          </v-card>
        </v-col>
        </v-row>
  -->

<!--
        <v-row dense v-else-if="item.status === 'leave'">
        <v-col cols="12">
          <v-card
            color="#385F73"
            dark
          >
            <v-card-title class="headline">Leave</v-card-title>
            <v-card-subtitle>Пользователь {{item.name}} Покинул чат</v-card-subtitle>
          </v-card>
        </v-col>
        </v-row>

        <v-row dense v-else-if="item.status === 'join'">
        <v-col cols="12">
          <v-card
            color="#385F73"
            dark
          >
            <v-card-title class="headline">Join</v-card-title>
            <v-card-subtitle>Пользователь {{item.name}} зашел в чат</v-card-subtitle>
          </v-card>
        </v-col>
        </v-row>
-->
