<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                dark
                flat
              >
                <v-toolbar-title>Login form</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                  <v-text-field
                    label="Login"
                    name="login"
                    :prepend-icon="logIcon"
                    type="text"
                    v-model="userName"
                  />
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn @click.stop="login" dark>Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
    {{snackText}}
    </v-snackbar>
  </v-app>
</template>

<script>
import { mdiAccount } from '@mdi/js';

export default {
  name: 'v-login-form',
  data() {
    return {
      userName: '',
      logIcon: mdiAccount,
      snackbar: false,
      snackText: '',
      timeout: 2000,
    };
  },
  methods: {
    login() {
      if (this.userName && /\S/.test(this.userName)) {
        const data = JSON.stringify({ type: 'newName', name: this.userName });
        this.$store.state.socket.send(data);
      } else {
        this.snackText = 'некорректное имя';
        this.snackbar = true;
      }
    },
  },
  created() {
    this.$store.dispatch('clearMessageList');
    if (!this.$store.state.authorization) {
      this.$store.dispatch('newConnection');
    }
    window.onbeforeunload = () => {
      this.$store.state.socket.send(JSON.stringify({ type: 'closeConnection', name: '' }));
      this.$store.state.socket.close();
    };
  },
  mounted() {
    this.$store.state.socket.onmessage = (event) => {
      const data = JSON.parse(event.data);

      switch (data.type) {
        case 'SuccessName':
        {
          this.$store.dispatch('setUserName', data.name);
          this.$router.push('/chat');
          break;
        }
        case 'FailName':
        {
          this.snackText = 'Имя уже зарегистрированно';
          this.snackbar = true;
          break;
        }
        default:
        {
          break;
        }
      }
    };
  },
};
</script>

<style lang='scss' scoped>

input
{
    background-color: lightgray;
}

.main
{
    display:flex;
    flex-direction: column;
}
</style>
