<template>
        <v-row dense >
        <v-col cols="12">
          <v-card
            color="#385F73"
            dark
          >
            <v-card-title class="headline">Join</v-card-title>
            <v-card-subtitle>Пользователь {{name}} зашел в чат</v-card-subtitle>
          </v-card>
        </v-col>
        </v-row>
</template>

<script>
export default {
  name: 'v-join',
  props: {
    name: {
      type: String,
      required: true,
      default: 'name',
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
