<template>
       <v-row dense
        :class="[{'justify-end': $store.state.userName !== name}]"
        >
        <v-col
          cols="9"
          sm="6"
        >
          <v-card
            dark
          >
                <v-card-title
                  class="headline"
                >{{name}}</v-card-title>
                <v-card-subtitle>{{message}}</v-card-subtitle>
          </v-card>
        </v-col>
        </v-row>
</template>

<script>
export default {
  name: 'v-message',
  props: {
    name: {
      type: String,
      required: true,
      default: 'name',
    },
    message: {
      type: String,
      required: true,
      default: 'message',
    },
  },
};
</script>

<style lang="scss" scoped>

.justify-end
{
  justify-content: flex-end;
}


</style>
