<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      socket: '',
    };
  },
};
</script>

<style lang="scss">
 $color-pack: false;
@import '~vuetify/src/styles/main.sass';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*
{
  margin: 0;
  font-family: 'Roboto';
}
</style>
